#viewProduct {
    width: 80%;
    height: fit-content;
    border-top: 2px solid #ccc;
}

#reviewsPage {
    width: 80%;
    height: fit-content;
}

#productQuantity button {
    border: none;
    background: none;
    cursor: pointer;
}

#productReview {
    height: 20px;
    display: flex;
    gap: 5px;
}

.selected {
    border: 2px solid black;
}

#ratingInner {
    margin-left: 10px;
}

.star-icon {
    height: 100%;
}

#customHr {
    border: none;
    height: 1px;
    background-color: #eee;
    margin: 20px 0;
}

#innerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2%;
    margin-top: 50px;
    
}

#images0 {
    display: flex;
    height: 70vh;
    flex: 1;
    gap: 1%;
}

#productImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.image {
    border-radius: 20px;
    width: auto;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.image img {
    height: 100%;
    width: auto;
    position: relative;
    border-radius: 20px;
}

#showImage {
    flex: 3;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

#showImage img {
    object-fit: contain;
    height: auto;
    width: 100%;
    position: absolute;
    border-radius: 20px;
}

#description {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    font-size: 2rem;
    font-weight: 800;
}

#productCost {
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

#original {
    color: #ccc;
    text-decoration: line-through;
}

#productDiscount {
    color: red;
    background: rgb(246, 222, 222);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

#selectColor {
    width: 100%;
    justify-content: left;
    height: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
}

.color {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.selected-color {
    color: white;
}

#choseSize {
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 5px;
}

.size {
    background: #eee;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
}

#tag {
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: #909090;
}

#addToCart {
    display: flex;
    width: 100%;
    gap: 7%;
}

#productQuantity {
    flex: 1;
    background: #eee;
    padding: 7px;
    border-radius: 20px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

#addButton {
    flex: 3;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

#mobileView {
    display: none;
}

#reviewAll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#reviewCard {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #eee;
    gap: 10px;
    margin-bottom: 20px;
}

#reviewUser {
    font-weight: 600;
}

#reviewDescription {
    color: #909090;
    font-size: 0.9rem;
}

#postedDate {
    color: rgb(101, 100, 100);
    font-size: 0.95rem;
}

#reviewCardHeader {
    height: 15px;
    display: flex;
    gap: 8px;
}

#reviewData {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 20px;
}

#reviewData>div {
    font-size: 1.3rem;
    font-weight: 650;
}

#buttons {
    width: 30%;
    gap: 7%;
    display: flex;
    padding-right: 20px;
}

#buttons select {
    height: 100%;
    border-radius: 20px;
    border: none;
    background: #eee;
}

#buttons button {
    height: 100%;
    border-radius: 20px;
    background: black;
    color: white;
}

#buttons select,
#buttons button {
    width: 50%;
    padding: 7px;
    text-align: center;
    cursor: pointer;
}

#writeReview {
    height: 60%;
    width: 50%;
    background: white;
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 900;
    border-radius: 20px;
    border: 1px solid #eee;
    padding: 20px;
    display: flex;
}

#crossButton{
    background: red;
    color:white;
    height:40px;
    width:40px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size: 1.2rem;
    padding:10px;
    position:absolute;
    top:-50px;
    right:-50px;


}

#starReview {
    flex: 1;
    height: 100%;
    border-right: 2px solid #eee;
    padding-right: 20px;
    position: relative;
}

#writeAReview {
    flex: 1;
    height: 100%;
    padding-left: 20px;
}

#starReview>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#starReviewHeader {
    font-size: 2rem;
    margin-bottom: 20px;
}

#exampleTextArea {
    border: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 70%;
}

#exampleTextArea:focus {
    outline: none;
}

#postButton {
    color: white;
    padding: 10px;
    background: black;
    border-radius: 20px;
    width: 20%;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

#readMoreButton {
    cursor: pointer;
}

#glassEffect {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 500;
    position:absolute;
    height:200%;
    width:100%;
    left:-10px;
}

#starReview>span{
    color:Red;
}

#readMoreButton{
    border:none;
    background: none;
    cursor:pointer;
    color:#909090;
}


@media (max-width: 950px) {
    #images0 {
        flex-direction: column-reverse;
    }

    #productImages {
        flex-direction: row;
        justify-content: start;
        width: fit-content;
        flex: 1;
    }

    #showImage {
        flex: 5;
    }

    #showImage img {
        width: 100%;
        height: auto;
    }

    .image {
        width: fit-content;
    }

    #buttons {
        width: 45%;
    }

    #writeReview {
        flex-direction: column;
        height: 100%;
    }

    #starReview {
        border: none;
    }

    #postButton {
        bottom: 10px;
    }

    #glassEffect{
        /* width:150%; */
    }

    
}

@media (min-width: 401px) and (max-width: 700px) {

    #innerContainer {
        flex-direction: column;
    }

    #images0 {
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        margin-top: 30px;
    }

    #showImage img {
        height: auto;
        width: 100%;
        position: relative;
    }

    #productImages {
        flex-direction: column;
        justify-content: start;
    }

    #image1,
    #image2,
    #image3,
    #image4 {
        height: 100px;
        display: flex;
        justify-content: right;
    }

    #description {
        flex: 5;
        padding: 0;
        margin-top: 30px;
    }

    #reviewAll {
        flex-direction: column;
    }

    #reviewCard {
        width: 100%;
    }

    #reviewData {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #buttons {
        width: 70%;
    }

    #glassEffect {
        height: 380%;
    }
}

@media (max-width: 400px) {
    #innerContainer {
        flex-direction: column;
    }

    #images0 {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    #header {
        font-size: 1.5rem;
    }

    #productImages {
        flex-direction: row;
        justify-content: center;
    }

    #description {
        padding: 0;
    }

    #showImage img {
        height: auto;
        width: 100%;
        position: relative;
    }

    .image {
        border-radius: 0;
        width: 50px;
    }

    .image img {
        height: 60px;
        border-radius: 10px;
    }

    #reviewAll {
        flex-direction: column;
    }

    #reviewCard {
        width: 90%;
    }

    #reviewData {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #buttons {
        width: 100%;
    }

    #glassEffect {
        height: 400%;
        width:100%;
    }

    #writeReview {
        width: 80vw;
        left: 5vw;
    }

    #crossButton{
        right:0;
    }
}